[Desktop Entry]
Name=Shareviewer
Comment=Shareviewer application
Categories=GNOME;Utility;
Exec=shareviewer
Icon=shareviewer
Terminal=false
Type=Application
